# ----------------------
# Flask
# ----------------------
flask


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn


# ----------------------
# Pywapi weather module
# ----------------------
#https://launchpad.net/python-weather-api/trunk/0.3.8/+download/pywapi-0.3.8.tar.gz


# ----------------------
# requests for getting url
# ----------------------
requests