# ----------------------
# Flask
# ----------------------
flask


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn


# ----------------------
# Pywapi weather module
# ----------------------
pip install -e git+https://github.com/jtasker/python-weather-api@cf79f478c26dd244e0c90e10d6df91bb4ea8cd5e#egg=pywapi
